 #txtL{
    text-align:left
}

#txtR{
    text-align:right
}

#txtC{
    text-align:center
}

#logo {
    position:absolute ;
    top:0px;
    left:0px;
}

#img-align-center {
    display: block;
    margin: 0px auto;
}

#box {
    position:absolute;
    top: 200px;
    left:0px;
    height: 75px;
    width: 1920px;
    background-color: black;}

